<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        nav{

            text-align: center;
        }


        ul li{
            display: inline-block; padding:10px;
            font-size:30px;
            margin-right: 50px;
            margin-top: 10px;
        }
        €
        img{
            float: left;

        }


    </style>

</head>
<body>
<div th:fragment="headerUser">
    <div class="container">
        <div class="logo">
            <a href="/home"><img src="images/blackfriday.jpg" style="width:150px;height:50px;"></a>
        </div>
        <nav>
            <ul>
                <li><a href="/findUsers">Find users</a></li>
                <li><a href="/candidateList">Candidate list</a></li>
                <li><a href="/messages" >Messages</a></li>
                <li><a href="/profile" >Profile</a></li>
            </ul>
        </nav>
    </div>
    <hr />
</div>
</body>