<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="headerHome">...</div>
<h1>Privacy policy</h1>
<p>Welcome to Tinder's Privacy Policy Thank you for taking the time to read it.
    We're glad you've trusted us with your information, and we intend to maintain that trust. This starts with making sure you understand what information we collect, why we collect it, how it is used and your choices regarding your information. This policy describes our privacy practices in plain language, and keeps legal and technical jargon to a minimum.</p><br>
<p>1. Who we are
    If you live within the European Union, the company responsible for your information under this Privacy Policy (the "Data Controller") is:
    MTCH Technology Services Limited
    Tinder
    WeWork Charlemont Exchange
    42 Charlemont Street
    Dublin 2, D02 R593
    Ireland</p><br>
<p>2. Where this Privacy Policy applies
    This privacy policy applies to websites, apps, events and other services operated by Tinder. For the sake of simplicity, we refer to all of these as our "services" in this Privacy Policy. To make it clearer, we have added links to this Privacy Policy to all applicable services.
    Some services may require their own unique privacy policy. If a particular service has its own privacy policy, that policy - not this privacy policy - will apply.</p><br><br>
<p>3. Cookies and other similar data collection technologies
    We use and may give others permission to use cookies and similar technologies (eg web beacons, pixels) to recognize you and / or your device. You can read our cookie policy for more information about why we use them (such as to approve you, remember your preferences and settings, analyze website traffic and trends, deliver and measure the effectiveness of advertising campaigns, allow you to use social features) and how to better control their usage through your browser settings and other tools.
    Some web browsers (including Safari, Internet Explorer, Firefox, and Chrome) have a "Do Not Track" feature ("DNT"), which tells a website that a user does not want to track their online activity. If a website responding to a DNT signal receives a DNT signal, the browser may block the website from collecting certain information about the browser user. Not all browsers offer a DNT option, and DNT signals are not yet uniform. For this reason, many companies, including Tinder, are unable to respond to DNT signals at this time.</p><br>
<p>4. Cross-border data transfers
    The sharing of information sometimes involves cross-border data transfers, e.g. to the United States and other jurisdictions. For example. users' personal data are transferred to countries outside the EEA when the service allows users to be located in the European Economic Area ("EEA"). We use standard contract provisions approved by the European Commission or other appropriate safeguard measure to allow data transfers from the EEA to other countries. Standard contractual provisions are obligations between companies that transfer personal data that oblige them to protect the confidentiality and security of your information.</p><br>
<p>
    1092/5000
    5. How we protect your information
    We work hard to protect you from unauthorized access to, or alteration, disclosure or destruction of, your personal information. As with any technology company, even if we take steps to secure your information, we cannot promise and you should not expect your personal information to remain secure at all times.
    We regularly monitor our systems for possible vulnerabilities and attacks, and regularly review our data collection, storage, and processing practices to update our physical, technical, and organizational security measures.
    We may suspend your use of all or part of the Services without notice if we suspect or detect any breach of security. If you believe that your account or information is no longer secure, please notify us immediately here
    To ensure that our systems and your information are protected from unauthorized access, theft and loss, we have implemented a bug bounty program. For more information on our bug bounty program, please click.</p><br>
<p>6. Changes to Privacy Policy
    As we are always looking for new and innovative ways to help you build meaningful relationships, this policy may change over time. We will notify you before any significant changes take effect, so you have time to review the changes.</p>
<div th:replace="footer">...</div>
</body>
</html>